@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --BGCOLOR-DARK-CYAN: hsl(185, 75%, 39%);
  --BGCOLOR-DARK-DESATURATED-BLUE: hsl(229, 23%, 23%);
  --BGCOLOR-DARK-GRAYISH_BLUE: hsl(227, 10%, 46%);
  --BGCOLOR-DARK-GRAY: hsl(0, 0%, 59%);
}

body,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

body {
  font-family: "Kumbh Sans";
  background-image: url(../images/bg-pattern-top.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  background-color: var(--BGCOLOR-DARK-CYAN);
}

main {
  flex-direction: row;
  background-color: #fff;
  width: 90vw;
  min-height: 20vh;
  border-radius: 0 0 30px 30px;
}

header {
  width: 90%;
  max-height: 40vh;
  margin-top: 25vh;
  text-align: center;
}
.card {
  background-image: url(../images/bg-pattern-card.svg);
  min-height: 20vh;
  border-radius: 30px 30px 0 0;
}
.profilePicture {
  border: 5px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 19.5rem;
  right: 8rem;
}

header p,
header h1 {
  background-color: #fff;
  padding: 0.3rem;
  text-align: center;
}

header h1 {
  padding-top: 4rem;
  font-size: 1.4rem;
}

header h1 span {
  color: var(--BGCOLOR-DARK-GRAYISH_BLUE);
  opacity: 0.8;
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

header p {
  color: var(--BGCOLOR-DARK-GRAYISH_BLUE);
}

.stats {
  padding: 1rem;
}

.stats h2 {
  font-size: 1.2rem;
}

.stats p {
  color: var(--BGCOLOR-DARK-GRAYISH_BLUE);
  opacity: 0.8;
  letter-spacing: 1.5;
  font-size: 0.8rem;
  padding-top: 0.5rem;
}
footer {
  margin-top: 2rem;
}

@media only screen and (min-width: 320px) {
  .profilePicture {
    right: 33%;
  }
}

@media only screen and (min-width: 400px) {
  .profilePicture {
    position: fixed;
    right: 38%;
    top: 40%;
  }

  main,
  .card,
  header {
    width: 380px;
  }
}

@media only screen and (min-width: 768px) {
  .profilePicture {
    right: 43%;
  }
}

@media only screen and (min-width: 1024px) {
  .profilePicture {
    right: 46%;
  }
}

@media only screen and (min-width: 1440px) {
  .profilePicture {
    right: 47%;
  }
}
